<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="xxxyyy" value="https://nuget.xxxxxxx.com/nuget" /> 
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" /> 
  </packageSources> 
  <packageSourceCredentials>
  <xxxyyy>
    <add key="Username" value="xxx" /> 
    <add key="ClearTextPassword" value="xxx" />
  </xxxyyy>
 </packageSourceCredentials>
</configuration>